<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Doggie Tinder</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="script.js" defer></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&family=Nunito:wght@700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css" />
    <link rel="manifest" href="manifest.json">
  </head>
  
  
  <body>
    <div id="app" class="app">
      <h1 class="title">🐕 Doggie Tinder</h1>
      <div class="container" v-if="online">
        <img alt="super cute dog" v-bind:src="currentDogUrl" class="card">
        <button v-on:click="loadDog" class="next">Next</button>
        <button v-on:click="addFav" class="fav">Favorites</button>
      </div>

      <h2>Favorites</h2>
      <ul class="favorites-list">
        <li v-for="dog in favorites" class="favorites-item">
          <img alt="picture of favorite dog" v-bind:src="dog" class="favorites-img">
          <button v-on:click="removeFav(dog)" class="remove">Remove</button>
        </li>
      </ul>
    </div>
  </body>
</html>
