body {
  margin: 0;
  font-family: arial, helvetica, sans-serif;
  background: url(https://cdn.glitch.me/8c995165-2303-4457-a458-2b353ff3e9a1%2Fbg.jpg);
}

.app {
  display: grid;
  grid-template-colums: 1fr 1fr;
  grid-template-rows: auto 520px 120px 1fr;
  grid-template-areas:
    "title title"
    "card card"
    "next fav"
    "favorites favorites";
  height: 100vh;
}

.title {
  grid-area: title;
  margin: 0.5em;
  text-align: center;
  font-family: "Indie Flower", cursive;
  color: tomato;
}

.card {
  grid-area: card;
  display: block;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  border-radius: 15px;
  outline: 10px solid tomato;
  box-shadow: 0px 5px 15px 5px rgba(0, 0, 0, 0.2);
}

button {
  width: 70px;
  height: 70px;
  margin: 20px 5px;
  border: 8px solid tomato;
  border-radius: 50%;
  color: transparent;
  cursor: pointer;
  box-shadow: 0px 5px 15px 5px rgba(0, 0, 0, 0.1);
}

.next {
  grid-area: next;
  background: url(
      https://cdn.glitch.com/381dc777-702c-41b2-82aa-cac2e30d38de%2Funchecked.png?1522935023612) no-repeat center;
  background-size: 20px;
  justify-self: end;
}

.next:hover {
  background-color: #da553d;
}

.fav {
  grid-area: fav;
  background: url(https://cdn.glitch.com/381dc777-702c-41b2-82aa-cac2e30d38de%2Fchecked%20(1).png?1522935023792);
  background-size: 25px;
}
